node_modules/
build/
__pycache__
.history
.hypothesis/
reports/
deploy_mnemonic.key
dotenv
.env
contracts/.placeholder
test/.placeholder
build
node_modules
migrations
cache/
artifacts/
coverage.json
coverage/